@model IEnumerable<ContractingPlatform.Models.Contract>

@{
    ViewData["Title"] = "Contracts";
    var entityList = ViewBag.EntityList as List<Entity>;
}

<h1>Contracts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntityA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <span>@entityList.Find(e=>e.Id==item.EntityA).Name</span>                 
            </td>
            <td>
                <span>@entityList.Find(e=>e.Id==item.EntityB).Name</span>    
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

