@model ContractingPlatform.Models.MGA

@{
    ViewData["Title"] = "Details";
    
    var entityList = ViewBag.EntityList as List<Entity>;
    var contracts =  ViewBag.Contracts as List<string>;
}

<h1>Details</h1>

<div>
    <h4>MGA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<h5>Contracts With</h5>
<table class="table">
    <tbody>
@{
    if (ViewData["Message"] == null) {
        foreach (var entityId in contracts) {
            <tr>
                <td>
                @entityList.Find(e=>e.Id == entityId).Name
                </td>
            </tr>
        }
    }
    else {
        <tr>
            <td>
            @ViewData["Message"]
            </td>
        </tr>
    }
}
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MgaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
